.headerContent {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 10px;
  text-align: justify;
  align-content: center;
  position: relative;
  justify-content: space-around;
  height: 100%;
}

.aboutMeContent {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 10px;
  text-align: justify;
  align-content: center;
  position: relative;
  justify-content: space-around;
  height: 100%;
}

.resumeContent {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 10px;
  text-align: justify;
  align-content: center;
  position: relative;
  justify-content: space-around;
  height: 100%;
}

.outerDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
}

.outerDivResume {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

@media screen and (max-width: 498px) {
  .profileImg {
    border-radius: 50%;
    width: 243px;
    height: 243px;
    background-repeat: no-repeat;
    object-fit: fill;
    vertical-align: middle;
  }
}

@media screen and (min-width: 499px) {
  .profileImg {
    background-color: blue;
    border-radius: 50%;
    width: 243px;
    height: 243px;
  }

  .headerContent div:nth-of-type(1) {
    padding: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.3s;
  }

  .aboutMeContent div:nth-of-type(1) {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .aboutMeContent div:nth-of-type(2) {
    padding: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  .aboutMeContent div:nth-of-type(2):hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  .resumeContent div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .resumeInnerDiv {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
  }
  .resumeLeftbar {
    padding: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .resumeLeftbar div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
  .resumeLeftbar div:nth-of-type(1) a {
    color:rebeccapurple;
  }
  .resumeLeftbar div:nth-of-type(1) a:hover{
    color:blue;
  }
  .resumeInnerDiv div:nth-of-type(2) {
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.button {
  width: 208px;
  height: 47px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  background-color: "#FF6464";
}

a {
  color: #fff;
  text-decoration: none;
}

.social {
  position: fixed;
  top: 80px;
  left: 0px;
}
.social ul {
  padding: 0px;
}
.social ul li {
  display: block;
  background: transparent;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}

.social ul li i {
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
}

